.transporte-bg {
  background-color: #1a1410;
  box-shadow: inset 0px 120px #fff, inset 0px -120px #0f0f0f;
}
.transporte {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.transporte-vantagens {
  margin-bottom: 0px;
}
.transporte-conteudo {
  padding-top: 140px;
  padding-bottom: 140px;
}

.transporte h2 {
  margin-bottom: 32px;
}
.transporte p {
  margin-bottom: 20px;
}

.transporte h2 span {
  color: #ff9e00;
}

.transporte p,
h1 {
  color: #fff;
}
.transporte-imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nosso-processo {
  align-items: start;
}
.processo-listado ul {
  align-items: center;
  margin-top: 60px;
  margin-bottom: 80px;
}
.processo-listado li {
  padding-left: 20px;
  padding-top: 16px;
}
.processo-listado li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 8px;
  margin-right: 8px;
  background-color: #efb049;
}

@media (max-width: 800px) {
  .transporte-bg {
    padding-top: 40px;
  }
  .transporte {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .transporte-conteudo {
    grid-row: 1;
    padding-top: 120px;
    padding-bottom: 40pxpx;
  }
  .transporte h1 {
    margin-bottom: 16px;
  }
  .transporte img {
    height: 300px;
    width: 100%;
  }
  .transporte-vantagens img {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
    margin-top: 20px;
  }
  .transporte-vantagens {
    display: flex;
    gap: 40px;
  }
  .transporte-vantagens p {
    color: #b8b8b8;
  }
  .transporte-imagem {
    display: none;
  }
  .processo-listado ul {
    align-items: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}
